/* style for the employee table */
#employee {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#employee td, #employee th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#employee tr:nth-child(even){background-color: #f2f2f2;}
  
#employee tr:hover {background-color: #ddd;}
  
#employee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

 /* style for caption is apply to all table */ 
caption {
    display: table-caption;
    text-align: center;
    background-color: yellow;
    padding-top: 12px;
    padding-bottom: 12px;
  }



 /* style for the Department table */
#department {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#department  td, #department th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#department tr:nth-child(even){background-color: #f2f2f2;}
  
#department tr:hover {background-color: #ddd;}
  
#department th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2a0592;
    color: white;
  }
  
 /* style for the salary table */
 #salary {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#salary  td, #salary  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#salary tr:nth-child(even){background-color: #f2f2f2;}
  
#salary tr:hover {background-color: #ddd;}
  
#salary th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  
  /* style for the salary table */
 #salary {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#salary  td, #salary  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#salary tr:nth-child(even){background-color: #f2f2f2;}
  
#salary tr:hover {background-color: #ddd;}
  
#salary th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  